html{
  /*Red (Pantone)*/
    --colour-1-h: 355;
    --colour-1-s: 78%;
    --colour-1-l: 56%;
  
  /*Honeydew*/
    --colour-2-h: 105;
    --colour-2-s: 55%;
    --colour-2-l: 96%;
  
  /*Non Photo blue*/
    --colour-3-h: 182;
    --colour-3-s: 43%;
    --colour-3-l: 76%;
  
  /*Cerulean*/
    --colour-4-h: 203;
    --colour-4-s: 39%;
    --colour-4-l: 44%;
  
  /*Berkeley Blue*/
    --colour-5-h: 215;
    --colour-5-s: 50%;
    --colour-5-l: 23%;
  
  }
  