/*Common CSS to be shown on all versions (mobile/desktop)*/

.shop-product-img img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .shop-product-desc{
    display:none;
} */

.shop-product{
    font-size: 100%;
}

/* .shop-product-price{
    float:left;
} */

.searchbuttons {
    color: white;
}

.card{
    flex-grow: 1;
    margin-right:15px!important;
    margin-left: 15px!important;
    }

.card-deck{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
    text-align: center;
}

.popupSuccess {
    text-align: center;
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 140px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid green;
    z-index: 20;
  }
#exampleModal {
  top: 30%;
}
.btn-success {
  background-color: #417041;
  border-color: #417041;
}
.btn-danger {
  background-color: #A8403E;
  border-color: #A8403E;
}
  
  #popupSuccess:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popupSuccess:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

.searchbox{
    margin-right: 1em;
    border-radius: 2em;
    box-shadow: 5px 5px #808080;
    border:0;
    border-bottom:1px solid #555;  
    width:0;
    padding-left: 2em;
    padding-right: 2em;
    font-size: inherit;
    font-weight: bold;
    background-color:rgba(255,255,255,0.9);
    color: black;
    width: 20em;
}


.search-bar{
    display: none;
    padding-bottom: 18px;
    padding-top: 10px;
}

html{
    --hero-height: 10em;
    --colour-1: hsl(var(--colour-1-h), var(--colour-1-s), var(--colour-1-l));
    --colour-2: hsl(var(--colour-2-h), var(--colour-2-s), var(--colour-2-l));
    --colour-3: hsl(var(--colour-3-h), var(--colour-3-s), var(--colour-3-l));
    --colour-4: hsl(var(--colour-4-h), var(--colour-4-s), var(--colour-4-l));
    --colour-5: hsl(var(--colour-5-h), var(--colour-5-s), var(--colour-5-l));
    --colour-6: hsl(var(--colour-6-h), var(--colour-6-s), var(--colour-6-l));
    --colour-7: hsl(var(--colour-7-h), var(--colour-7-s), var(--colour-7-l));

}

.menu{
    position:absolute;
    height: 100%;
    border-right: solid 5px hsl(var(--colour-1-h),var(--colour-1-s),var(--colour-1-l));
}

#bannerimage {
    width: 100%;
    background-image: url(images/banner.png);
    height: 250px;
    background-position: center;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent)
}

.tooltip {
    z-index: 99999999;
  }
.productList{
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:2rem;
    padding-right:2rem;
}

#navbar {
    overflow: hidden;
    z-index: 9999;
    background-color:rgba(255, 255, 255, 0.85);
  }

  .divider {
    height:68px; width:auto; margin:0; display:block
  }
  .phone-navbar {
    margin-right: 0px;
    display: inline-block;
    right: 0px;
    display: none;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  #mobile {
    display: none;
    position: fixed;
    top: 64.4px;
    width: 100%;
    z-index: 10000;
  }
  

  .chat {
    height: 100px;
    width: 100px;
    background-color: #ff1c1c;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 0;
    z-index: 9999;
    border: 15px #333;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
    }
    .count {
        min-width: 40px;
        min-height: 40px;
        background-color: #297287;
        border-radius: 50%;
        display: inline-block;
        position: fixed;
        bottom: 110px;
        right: 110px;
        border: 0;
        z-index: 9999;
        border: 15px #333;
        }
      
  
  /* Navbar links */
#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
  }
  
  /* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .stickyMobile {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickyMobile + .content {
    padding-top: 60px;
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickyMobile {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .stickyMobile + .content {
    padding-top: 60px;
  }

.navbar,li ul {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.6);
}

.center {
    margin: auto;
    width: 50%;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.about{

    clear: both;
    height:20px;
    padding: 2em;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.navbar-custom {
    background-color: white;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    list-style-type: none;
}

.navbar-links{
    display: flex;
    width: 100%;
    list-style-type: none;
}

#center-content {
    /* Lets middle column shrink/grow to available width */
    flex: 1 1 auto;
}

.spacer-middle{
    flex-grow: 0.5;
}

.spacer{
    flex-grow: 1;
    /* width: 10%; */
}

.navbar-links li{
    list-style: none;
}
form { 
    margin: 0 auto; 
    width:250px;
    }

.navbar-links li a, .subnavbar-links li a{
    font-size:1.5em;
    font-weight: 600;
    min-width: 4em;
    text-align: center;
    padding: 0 1rem 0.5rem 1rem;
    display: block;
    list-style-type: none;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

.navbar-links ul li span{
    padding-bottom:2px;
    
}
.navbar-links ul li ul{
    display:none;
    list-style-type: none;
}

.navbar-links ul li:hover ul{
    display:flex;
    list-style-type: none;
}

.navbar-links li ul{
    position:absolute;
    display: flex;
    list-style-type: none;
}
.toggle-wrapper{
    position:absolute;
    top: .75rem;
    right: 1rem;
    background: rgba(0,0,0,0.25) ;
    /* background: black; */
    padding: 1em;
}

.toggle-wrapper{
    display: none;
}
#searchDesc{
    margin-top: 1em;
    font-size: 2em;
    margin-left: 4rem;
}

.hero:before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: var(--hero-height);
}

*{
    margin: 0;
    /* color: var(--colour-6); */
}

#basket{
    position:absolute;
    display:none;
    width: 20em;
    height: var(--hero-height);
    background-color: var(--colour-1);
    opacity: 1;
}

.hero{
    text-align: center;
    height: var(--hero-height);
}

.hero div.title{
    font-size: 6rem;
    font-weight: 900;
    width: 100%;
    height: calc(100% - 6rem);
    display: inline-block;
    color: white;
    background-color: black;

}

.imgspacer{
    width: 200px;
    height: 300px;
    object-fit: cover;
    vertical-align: middle;
}

#cookieMessage{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color:rgba(255, 255, 255, 1);
    box-shadow: -20px -20px 20px -20px black;
    padding: 20px;
    z-index: 99999999999999999999999999;
    /* display: none; */
}

.circle {
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid red;
    
  }

#acceptCookies{
    font-size: 100%;
    margin-top: 2rem;
    color: black;
}
#closeCookies{
    position:absolute; 
    top:0; 
    right:0;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:1rem;
    padding-right:1rem;
}

p{
    font-size: 100%;
}

body{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/background.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    margin:0;
    padding: 0;
}

a{
    color: var(--colour-4);
}
a:visited{
    color: var(--colour-5);
}


form.customerDetails {
background-color:rgba(255, 255, 255, 0.85);
margin: 0 auto; 
width:90%;
max-width: 900px;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
}

.tooltip {
  position: fixed;
}

form.customerDetails label {
display: block;
}

form.customerDetails input {
max-width: 400px;
width: 80%;
}
form.customerDetails button{
    margin-top:20px;
    display: block;
}

.checkoutList{
    width:50%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.checkoutList{
    text-align: center;
}

.checkoutList tr td:nth-child(4){
    font-weight: bold;
}
.checkoutList tr:last-child{
    font-weight: bold;
}

.checkoutList tr:last-child td:first-child{
    text-align: center;
}

@media screen and (max-width:1375px) {  
    .divider img {
      display: none;
    }
    
  }
  @media screen and (max-width:1190px) {
    .navbar-links li{
        display:none;
    }
    .phone-navbar {
        display:block;
        max-width: 85px;
    }
    .spacer {
        flex-grow: 1;
    }
  }


